In [33]:
import pandas as pd
import numpy as np

# UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 0: invalid start byte
df = pd.read_csv("datasets/Minimum Wage Data.csv", encoding="latin")
df.to_csv("datasets/minwage.csv", encoding="utf-8", index = False)
df.set_index("Year").head()

,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
Year,,,,,,,,,,,,,,
1968,Alabama,0.00000,0.00,1.15,8.55,1.15,8.55,34.8,...,0.00000,0.00,0.00000,0.00,NaN
1968,Alaska,2.10000,15.61,1.15,8.55,2.10,15.61,34.8,2.1,2.10000,15.61,2.10000,15.61,NaN
1968,Arizona,0.46800,3.48,1.15,8.55,1.15,8.55,34.8,18.72 - 26.40/wk(b),0.46800,3.48,0.66000,4.91,(b)
1968,Arkansas,0.15625,1.16,1.15,8.55,1.15,8.55,34.8,1.25/day(b),0.15625,1.16,0.15625,1.16,(b)
1968,California,1.65000,12.26,1.15,8.55,1.65,12.26,34.8,1.65(b),1.65000,12.26,1.65000,12.26,(b)

In [64]:
gb = df.groupby("State")
gb.get_group("Alabama").set_index("Year").head()

,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
Year,,,,,,,,,,,,,,
1968,Alabama,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1969,Alabama,0.0,0.0,1.15,8.11,1.15,8.11,36.7,...,0.0,0.0,0.0,0.0,NaN
1970,Alabama,0.0,0.0,1.30,8.67,1.30,8.67,38.8,...,0.0,0.0,0.0,0.0,NaN
1971,Alabama,0.0,0.0,1.30,8.30,1.30,8.30,40.5,...,0.0,0.0,0.0,0.0,NaN
1972,Alabama,0.0,0.0,1.60,9.90,1.60,9.90,41.8,...,0.0,0.0,0.0,0.0,NaN

In [59]:
act_min_wage = pd.DataFrame()
# Iterating over groups
for name, group in df.groupby("State"):
    if act_min_wage.empty:
        act_min_wage = group.set_index("Year")[["State.Minimum.Wage.2020.Dollars"]].rename(columns={"State.Minimum.Wage.2020.Dollars":name})
    else:
        act_min_wage = act_min_wage.join(group.set_index("Year")[["State.Minimum.Wage.2020.Dollars"]].rename(columns={"State.Minimum.Wage.2020.Dollars":name}))

# act_min_wage.head()
# OR
# pd.pivot_table(df, values="State.Minimum.Wage.2020.Dollars", index="Year", columns='State')
# OR
df.groupby(["Year","State"]).last().unstack()

      State.Minimum.Wage                                               \
State            Alabama Alaska Arizona  Arkansas California Colorado
Year
1968                 0.0   2.10   0.468   0.15625       1.65     1.00
1969                 0.0   2.10   0.468   0.15625       1.65     1.00
1970                 0.0   2.10   0.468   1.10000       1.65     1.00
1971                 0.0   2.10   0.468   1.10000       1.65     1.00
1972                 0.0   2.10   0.468   1.20000       1.65     1.00
1973                 0.0   2.10   0.468   1.20000       1.65     1.00
1974                 0.0   2.10   0.468   1.20000       1.65     1.00
1975                 0.0   2.10   0.468   1.20000       1.65     1.00
1976                 0.0   2.80   0.000   1.90000       2.00     1.00
1977                 0.0   2.80   0.000   1.90000       2.00     1.00
1978                 0.0   2.80   0.000   1.90000       2.00     1.00
1979                 0.0   3.40   0.000   2.30000       2.90     1.90
1980                 0.0   3.60   0.000   2.55000       2.90     1.90
1981                 0.0   3.85   0.000   2.70000       3.35     1.90
1982                 0.0   3.85   0.000   2.70000       3.35     1.90
1983                 0.0   3.85   0.000   2.70000       3.35     1.90
1984                 0.0   3.85   0.000   2.70000       3.35     1.90
1985                 0.0   3.85   0.000   2.70000       3.35     1.90
1986                 0.0   3.85   0.000   2.70000       3.35     1.90
1987                 0.0   3.85   0.000   2.70000       3.35     1.90
1988                 0.0   3.85   0.000   3.25000       3.35     3.00
1989                 0.0   3.85   0.000   3.25000       3.35     3.00
1990                 0.0   3.85   0.000   3.25000       3.35     3.00
1991                 0.0   4.30   0.000   3.35000       4.25     3.00
1992                 0.0   4.75   0.000   3.65000       4.25     3.00
1993                 0.0   4.75   0.000   3.65000       4.25     3.00
1994                 0.0   4.75   0.000   4.25000       4.25     3.00
1995                 0.0   4.75   0.000   4.25000       4.25     3.00
1996                 0.0   4.75   0.000   4.25000       4.25     3.00
1997                 0.0   5.25   0.000   4.25000       4.75     4.75
1998                 0.0   5.65   0.000   5.15000       5.15     5.15
1999                 0.0   5.65   0.000   5.15000       5.15     5.15
2000                 0.0   5.65   0.000   5.15000       5.75     5.15
2001                 0.0   5.65   0.000   5.15000       6.25     5.15
2002                 0.0   5.65   0.000   5.15000       6.75     5.15
2003                 0.0   7.15   0.000   5.15000       6.75     5.15
2004                 0.0   7.15   0.000   5.15000       6.75     5.15
2005                 0.0   7.15   0.000   5.15000       6.75     5.15
2006                 0.0   7.15   0.000   5.15000       6.75     5.15
2007                 0.0   7.15   6.750   6.25000       7.50     6.85
2008                 0.0   7.15   6.900   6.25000       8.00     7.02
2009                 0.0   7.15   7.250   6.25000       8.00     7.28
2010                 0.0   7.75   7.250   6.25000       8.00     7.24
2011                 0.0   7.75   7.350   6.25000       8.00     7.36
2012                 0.0   7.75   7.650   6.25000       8.00     7.64
2013                 0.0   7.75   7.800   6.25000       8.00     7.78
2014                 0.0   7.75   7.900   6.25000       9.00     8.00
2015                 0.0   8.75   8.050   7.50000       9.00     8.23
2016                 0.0   9.75   8.050   8.00000      10.00     8.31
2017                 0.0   9.80  10.000   8.50000      10.00     9.30
2018                 0.0   9.84  10.500   8.50000      11.00    10.20
2019                 0.0  10.19  12.000   9.25000      12.00    12.00
2020                 0.0  10.19  12.000  10.00000      13.00    12.00

                                                         ...  Footnote        \
State Connecticut Delaware District of Columbia Florida  ... Tennessee Texas
Year                                                     ...
1968         1.40     1.25                 1.25    0.00  ...       NaN   NaN
1969         1.40     1.25                 1.25    0.00  ...       NaN   NaN
1970         1.60     1.25                 1.60    0.00  ...       NaN   NaN
1971         1.60     1.25                 1.60    0.00  ...       NaN   NaN
1972         1.85     1.60                 1.60    0.00  ...       NaN   NaN
1973         1.85     1.60                 1.60    0.00  ...       NaN   NaN
1974         1.85     1.60                 1.60    0.00  ...       NaN   NaN
1975         1.85     1.60                 1.60    0.00  ...       NaN   NaN
1976         2.21     2.00                 2.25    0.00  ...       NaN   NaN
1977         2.21     2.00                 2.25    0.00  ...       NaN   NaN
1978         2.21     2.00                 2.25    0.00  ...       NaN   NaN
1979         2.91     2.00                 2.46    0.00  ...       NaN   NaN
1980         3.12     2.00                 2.50    0.00  ...       NaN   NaN
1981         3.37     2.00                 2.50    0.00  ...       NaN   NaN
1982         3.37     2.00                 2.50    0.00  ...       NaN   NaN
1983         3.37     2.00                 2.50    0.00  ...       NaN   NaN
1984         3.37     2.00                 2.50    0.00  ...       NaN   NaN
1985         3.37     2.00                 2.50    0.00  ...       NaN   NaN
1986         3.37     2.00                 2.50    0.00  ...       NaN   NaN
1987         3.37     2.00                 2.50    0.00  ...       NaN   NaN
1988         3.75     3.35                 3.50    0.00  ...       NaN   NaN
1989         3.75     3.35                 3.50    0.00  ...       NaN   NaN
1990         3.75     3.35                 3.50    0.00  ...       NaN   NaN
1991         4.25     3.80                 3.70    0.00  ...       NaN   NaN
1992         4.27     4.25                 3.90    0.00  ...       NaN   NaN
1993         4.27     4.25                 3.90    0.00  ...       NaN   NaN
1994         4.27     4.25                 4.25    0.00  ...       NaN   NaN
1995         4.27     4.25                 4.25    0.00  ...       NaN   NaN
1996         4.27     4.65                 5.25    0.00  ...       NaN   NaN
1997         4.77     5.00                 5.75    0.00  ...       NaN   NaN
1998         5.18     5.15                 6.15    0.00  ...       NaN   NaN
1999         5.18     5.15                 6.15    0.00  ...       NaN   NaN
2000         6.15     5.65                 6.15    0.00  ...       NaN   NaN
2001         6.40     6.15                 6.15    0.00  ...       NaN   NaN
2002         6.70     6.15                 6.15    0.00  ...       NaN   NaN
2003         6.90     6.15                 6.15    0.00  ...       NaN   NaN
2004         7.10     6.15                 6.15    0.00  ...       NaN   NaN
2005         7.10     6.15                 6.60    0.00  ...       NaN   NaN
2006         7.40     6.15                 7.00    6.40  ...       NaN   NaN
2007         7.65     6.65                 7.00    6.67  ...       NaN   NaN
2008         7.65     7.15                 7.00    6.79  ...       NaN   NaN
2009         8.00     7.15                 7.55    7.21  ...       NaN   NaN
2010         8.25     7.25                 8.25    7.25  ...       NaN   NaN
2011         8.25     7.25                 8.25    7.25  ...       NaN   NaN
2012         8.25     7.25                 8.25    7.67  ...       NaN   NaN
2013         8.25     7.25                 8.25    7.79  ...       NaN   NaN
2014         8.70     7.75                 9.50    7.93  ...       NaN   NaN
2015         9.15     8.25                10.50    8.05  ...       NaN   NaN
2016         9.60     8.25                11.50    8.05  ...       NaN   NaN
2017        10.10     8.25                11.50    8.10  ...       NaN   NaN
2018        10.10     8.25                13.25    8.25  ...       NaN   NaN
2019        11.00     9.25                14.00    8.56  ...       NaN   NaN
2020        11.00     9.25                14.00    8.56  ...       NaN   NaN

                                                                          \
State U.S. Virgin Islands Utah Vermont Virginia Washington West Virginia
Year
1968                  NaN  (b)     NaN      NaN        NaN           NaN
1969                  NaN  (b)     NaN      NaN        NaN           NaN
1970                  NaN  (b)     NaN      NaN        NaN           NaN
1971                  NaN  (b)     NaN      NaN        NaN           NaN
1972                  NaN  (b)     NaN      NaN        NaN           NaN
1973                  NaN  (b)     NaN      NaN        NaN           NaN
1974                  NaN  (b)     NaN      NaN        NaN           NaN
1975                  NaN  (b)     NaN      NaN        NaN           NaN
1976                  NaN  (b)     NaN      NaN        NaN           NaN
1977                  NaN  (b)     NaN      NaN        NaN           NaN
1978                  NaN  (b)     NaN      NaN        NaN           NaN
1979                  NaN  (b)     NaN      NaN        NaN           NaN
1980                  NaN  (b)     NaN      NaN        NaN           NaN
1981                  NaN  (b)     NaN      NaN        NaN           NaN
1982                  NaN  (b)     NaN      NaN        NaN           NaN
1983                  NaN  (b)     NaN      NaN        NaN           NaN
1984                  NaN  (b)     NaN      NaN        NaN           NaN
1985                  NaN  (b)     NaN      NaN        NaN           NaN
1986                  NaN  (b)     NaN      NaN        NaN           NaN
1987                  NaN  (b)     NaN      NaN        NaN           NaN
1988                  NaN  (b)     NaN      NaN        NaN           NaN
1989                  NaN  (b)     NaN      NaN        NaN           NaN
1990                  NaN  (b)     NaN      NaN        NaN           NaN
1991               (g, j)  NaN     NaN      NaN        NaN           NaN
1992               (g, j)  NaN     NaN      NaN        NaN           NaN
1993               (g, j)  NaN     NaN      NaN        NaN           NaN
1994               (g, j)  NaN     NaN      NaN        NaN           NaN
1995               (g, j)  NaN     NaN      NaN        NaN           NaN
1996                  (g)  NaN     (e)      [c]        NaN           (d)
1997               (g, j)  NaN     (e)      [c]        NaN           (d)
1998               (g, j)  NaN     (e)      [c]        NaN           (d)
1999               (g, j)  NaN     (e)      [c]        NaN           (d)
2000               (g, j)  NaN     (e)      [c]        NaN           (d)
2001               (g, j)  NaN     (e)      [c]        NaN           (d)
2002               (g, j)  NaN     (e)      [c]        NaN           (d)
2003               (g, j)  NaN     (e)      [c]        NaN           (d)
2004               (g, j)  NaN     (e)      [c]        NaN           (d)
2005               (g, j)  NaN     (e)      [c]        NaN           (d)
2006                  (g)  NaN     NaN      [c]        NaN           (d)
2007               (g, j)  NaN     (e)      [c]        NaN           NaN
2008                  (j)  NaN     (e)      [c]        NaN           NaN
2009                  (j)  NaN     (e)      [c]        NaN           NaN
2010                  (j)  NaN     (e)      [c]        NaN           NaN
2011                  (j)  NaN     (e)      [c]        NaN           NaN
2012                  (j)  NaN     (e)      [c]        NaN           NaN
2013                  (j)  NaN     (e)      [c]        NaN           NaN
2014                  (j)  NaN     (e)      [c]        NaN           NaN
2015                  (j)  NaN     (e)      [c]        NaN           NaN
2016                  (j)  NaN     (e)      [c]        NaN           NaN
2017                  (j)  NaN     (e)      [c]        NaN           NaN
2018                  (j)  NaN     (e)      [c]        NaN           NaN
2019                  (j)  NaN     (e)      [c]        NaN           NaN
2020                  (j)  NaN     (e)      [c]        NaN           NaN


State Wisconsin Wyoming
Year
1968        (b)     NaN
1969        (b)     NaN
1970        (b)     NaN
1971        (b)     NaN
1972        (b)     NaN
1973        (b)     NaN
1974        (b)     NaN
1975        (b)     NaN
1976        NaN     NaN
1977        NaN     NaN
1978        NaN     NaN
1979        NaN     NaN
1980        NaN     NaN
1981        NaN     NaN
1982        NaN     NaN
1983        NaN     NaN
1984        NaN     NaN
1985        NaN     NaN
1986        NaN     NaN
1987        NaN     NaN
1988        NaN     NaN
1989        NaN     NaN
1990        NaN     NaN
1991        NaN     NaN
1992        NaN     NaN
1993        NaN     NaN
1994        NaN     NaN
1995        NaN     NaN
1996        NaN     NaN
1997        NaN     NaN
1998        NaN     NaN
1999        NaN     NaN
2000        NaN     NaN
2001        NaN     NaN
2002        NaN     NaN
2003        NaN     NaN
2004        NaN     NaN
2005        NaN     NaN
2006        NaN     NaN
2007        NaN     NaN
2008        NaN     NaN
2009        NaN     NaN
2010        NaN     NaN
2011        NaN     NaN
2012        NaN     NaN
2013        NaN     NaN
2014        NaN     NaN
2015        NaN     NaN
2016        NaN     NaN
2017        NaN     NaN
2018        NaN     NaN
2019        NaN     NaN
2020        NaN     NaN

[53 rows x 702 columns]

In [18]:
act_min_wage.describe()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
count,53.0,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,...,53.0,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000
mean,0.0,9.917736,2.917358,7.139245,9.101132,6.881698,9.212830,7.818679,8.919245,2.415283,...,0.0,5.816038,5.531509,7.079245,9.057358,6.163019,8.826038,7.486226,7.914528,5.313208
std,0.0,1.852213,4.102247,1.459132,1.418712,1.921086,1.106907,1.307834,1.932959,3.882305,...,0.0,2.240879,3.281419,0.824707,1.093119,2.749633,2.147933,0.866017,0.778113,2.004899
min,0.0,7.620000,0.000000,1.100000,6.630000,3.970000,7.040000,4.550000,5.690000,0.000000,...,0.0,0.000000,0.000000,4.950000,7.030000,0.000000,4.550000,5.770000,6.630000,2.340000
25%,0.0,8.590000,0.000000,6.780000,8.000000,5.250000,8.200000,7.320000,7.420000,0.000000,...,0.0,4.990000,4.630000,6.610000,8.060000,6.250000,7.610000,6.850000,7.320000,3.500000
50%,0.0,9.260000,0.000000,7.210000,9.010000,6.670000,9.430000,8.170000,8.840000,0.000000,...,0.0,6.360000,6.040000,7.220000,9.240000,7.210000,9.700000,7.370000,7.810000,5.550000
75%,0.0,10.510000,8.290000,7.740000,9.710000,8.430000,9.870000,8.620000,9.600000,8.210000,...,0.0,7.350000,7.910000,7.660000,9.820000,7.810000,10.180000,7.930000,8.340000,6.820000
max,0.0,15.610000,12.140000,10.000000,13.000000,12.140000,11.450000,9.900000,14.160000,8.790000,...,0.0,8.660000,10.620000,8.600000,11.090000,9.090000,13.660000,9.430000,9.980000,9.280000

In [22]:
act_min_wage.corr().head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,NaN,1.000000,0.037101,-0.332127,0.622245,-0.078678,0.646909,0.260265,0.271810,-0.193062,...,NaN,-0.507366,-0.609398,-0.017546,0.615675,-0.593675,0.378141,0.056924,0.683108,0.726771
Arizona,NaN,0.037101,1.000000,0.271834,0.639006,0.820730,0.555455,0.477781,0.723523,0.907295,...,NaN,0.398732,-0.115225,0.413915,0.624314,0.096048,0.691863,0.663311,0.014723,0.288171
Arkansas,NaN,-0.332127,0.271834,1.000000,0.030265,0.333597,0.183662,0.107639,0.433775,0.340509,...,NaN,0.520381,0.332492,0.208586,0.236875,0.572595,0.130825,0.504703,-0.069024,-0.235369
California,NaN,0.622245,0.639006,0.030265,1.000000,0.649967,0.881831,0.518481,0.727373,0.443946,...,NaN,-0.109316,-0.236033,0.367924,0.894617,-0.216247,0.816087,0.492809,0.382444,0.598739

In [42]:
issue_df = df[df['State.Minimum.Wage.2020.Dollars']==0]

issue_df.head(20).set_index("Year")

,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
Year,,,,,,,,,,,,,,
1968,Alabama,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1968,Florida,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1968,Georgia,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1968,Illinois,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1968,Iowa,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1968,Kansas,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1968,Louisiana,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1968,Mississippi,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1968,Missouri,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1968,Montana,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1968,South Carolina,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1968,Tennessee,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1968,Texas,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1968,U.S. Virgin Islands,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,NaN,0.0,NaN,NaN
1968,Virginia,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1969,Alabama,0.0,0.0,1.15,8.11,1.15,8.11,36.7,...,0.0,0.0,0.0,0.0,NaN
1969,Florida,0.0,0.0,1.15,8.11,1.15,8.11,36.7,...,0.0,0.0,0.0,0.0,NaN
1969,Georgia,0.0,0.0,1.15,8.11,1.15,8.11,36.7,...,0.0,0.0,0.0,0.0,NaN
1969,Illinois,0.0,0.0,1.15,8.11,1.15,8.11,36.7,...,0.0,0.0,0.0,0.0,NaN
1969,Iowa,0.0,0.0,1.15,8.11,1.15,8.11,36.7,...,0.0,0.0,0.0,0.0,NaN

In [30]:
issue_df["State"].unique()

array(['Alabama', 'Florida', 'Georgia', 'Illinois', 'Iowa', 'Kansas',
       'Louisiana', 'Mississippi', 'Missouri', 'Montana',
       'South Carolina', 'Tennessee', 'Texas', 'U.S. Virgin Islands',
       'Virginia', 'Arizona', 'Puerto Rico'], dtype=object)

In [39]:
act_min_wage.replace(0, np.NaN).dropna(axis=1).corr().head()

,Alaska,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Guam,Hawaii,Idaho,...,Oregon,Pennsylvania,Rhode Island,South Dakota,Utah,Vermont,Washington,West Virginia,Wisconsin,Wyoming
Alaska,1.000000,-0.332127,0.622245,-0.078678,0.646909,0.260265,0.271810,0.787515,0.630212,0.371745,...,0.010495,0.590298,0.610099,-0.287259,-0.017546,0.615675,0.378141,0.056924,0.683108,0.726771
Arkansas,-0.332127,1.000000,0.030265,0.333597,0.183662,0.107639,0.433775,0.037006,0.324870,0.008276,...,0.399650,0.065998,0.160773,0.826094,0.208586,0.236875,0.130825,0.504703,-0.069024,-0.235369
California,0.622245,0.030265,1.000000,0.649967,0.881831,0.518481,0.727373,0.411729,0.610784,0.542006,...,0.572160,0.241669,0.816544,0.171242,0.367924,0.894617,0.816087,0.492809,0.382444,0.598739
Colorado,-0.078678,0.333597,0.649967,1.000000,0.520931,0.581162,0.798145,-0.152291,0.291995,0.436981,...,0.733803,-0.229508,0.559646,0.519677,0.538775,0.581318,0.721208,0.623479,-0.101133,0.095454
Connecticut,0.646909,0.183662,0.881831,0.520931,1.000000,0.586472,0.700081,0.587469,0.674581,0.536894,...,0.480491,0.408964,0.829952,0.228521,0.307922,0.911003,0.760697,0.484080,0.468287,0.752009

In [40]:
min_wage_corr = act_min_wage.replace(0, np.NaN).dropna(axis=1).corr().head()